.sidebar {
  position: relative;
  width: 81.5px;
  height: 100%;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-right: #645f5f solid 1px;
}

.sidebar-scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-scroll {
  color: #9f9f9f;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  transform: rotate(90deg) translateX(-40.5px) translateY(-2px);
}

.sidebar-scroll-arrow {
  cursor: pointer;
}

.sidebar-menu-icon {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 30px;
  top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
  z-index: 1;
}

.sidebar-menu-square {
  display: block;
  width: 5.24px;
  height: 5.24px;
  background: #ffffff;
  opacity: 1;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.sidebar-menu-icon:hover .sidebar-menu-square {
  animation-name: opacity;
}

.sidebar-menu-square:nth-child(2),
.sidebar-menu-square:nth-child(4) {
  animation-duration: 700ms;
}

.sidebar-menu-square:nth-child(3),
.sidebar-menu-square:nth-child(5) {
  animation-duration: 900ms;
}

.sidebar-menu-square:nth-child(6),
.sidebar-menu-square:nth-child(7) {
  animation-duration: 1100ms;
}

.sidebar-menu-square:nth-child(8) {
  animation-duration: 1300ms;
}

.sidebar-menu-square:nth-child(9) {
  animation-duration: 1500ms;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
